@import "../../app/variables";

.container {
    flex: 1;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;

    row-gap: 20px;
    background-color: #e7e5e0;
    padding: 30px 0 30px;
}

.formTitle {
    max-width: 400px;
    color: gray;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-align: center;
}

.inputGroup {
    position: relative;
    width: 90%;
    min-width: 200px;
}

.formInput {
    width: 100%;
    background-color: transparent;
    outline: none;
    border-radius: 10px;
    border: 1px solid #ded8d4;
    background-color: #f2f0e9;
    padding: 12px 20px;

    &:focus+.formLabel,
    &:not(:placeholder-shown)+.formLabel {
        transform: translateY(-110%) scale(0.9);
        transition-duration: 250ms;
        padding-inline: 4px;
        color: #4a4535ad;

        // background: linear-gradient(to top, #f2f0e9 50%, #e7e5e0 50%);
    }
}

.formLabel {
    position: absolute;
    top: 10px;
    left: 16px;
    color: #4a45358b;
    pointer-events: none;
    transition-duration: 250ms;
}

.error {
    position: absolute;
    top: -17px;
    right: 10px;
    color: red;
    font-size: 14px;
}

.textarea {
    height: 120px;
    resize: none;
}

.uploadBtn {
    width: 100%;
    background-color: transparent;
    outline: none;
    border-radius: 30px;
    border: 1px solid #ded8d4;
    background-color: #cac9c3;
    padding: 12px 20px;
}

.formButton {
    // width: 300px;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 12px 62px;
    background-color: #4a4535;
    border-radius: 20px;
    color: #fff;
    font-weight: inherit;
    transition-duration: 250ms;

    &:hover,
    &:focus {
        background-color: #a8a7a1;
        color: #4a4535;
        transition-duration: 250ms;
    }
}