@import "../../app/variables";

.container {
    flex: 1;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;

    row-gap: 20px;
    background-color: $formBackgroundColor;
    padding: 30px 0 30px;
}

.formTitle {
    max-width: 400px;
    color: $formTitleColor;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-align: center;
}

.inputGroup {
    position: relative;
    width: 90%;
    min-width: 200px;
}

.formInput {
    width: 100%;
    background-color: transparent;
    outline: none;
    border-radius: 10px;
    border: 1px solid $borderColor;
    background-color: $inputBackgroundColor;
    padding: 12px 20px;

    &:focus+.formLabel,
    &:not(:placeholder-shown)+.formLabel {
        transform: translateY(-110%) scale(0.9);
        transition-duration: 250ms;
        padding-inline: 4px;
        color: $formInputcolor;
    }
}

.formLabel {
    position: absolute;
    top: 10px;
    left: 16px;
    color: $formLabelColor;
    pointer-events: none;
    transition-duration: 250ms;
}

.error {
    position: absolute;
    top: -17px;
    right: 10px;
    color: $errorColor;
    font-size: 14px;
}

.textarea {
    height: 120px;
    resize: none;
}

.uploadBtn {
    width: 100%;
    background-color: transparent;
    outline: none;
    border-radius: 30px;
    border: 1px solid $borderColor;
    background-color: $uploadBtnBackgroundColor;
    padding: 12px 20px;
}

.formButton {
    // width: 300px;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 12px 62px;
    background-color: $formButtonBackgroundColor;
    border-radius: 20px;
    color: $formButtonColor;
    font-weight: inherit;
    transition-duration: 250ms;

    &:hover,
    &:focus {
        background-color: $formButtonHoverBackgroundColor;
        color: $formButtonHoverColor;
        transition-duration: 250ms;
    }
}