@import "../../app/variables";

.section {
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: $tablet) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media screen and (min-width: $laptop) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.container {
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @media screen and (min-width: $tablet) {
    gap: 20px;
  }

  @media screen and (min-width: $laptop) {
    gap: 24px;
  }

  @media screen and (min-width: $desktop) {
    gap: 32px;
  }
}

.linkCatalogue {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  width: 280px;
  height: 42px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  background-color: $primary900;
  color: $gray0;

  @media screen and (min-width: $tablet) {
    width: 432px;
    margin-top: 4px;
  }

  @media screen and (min-width: $laptop) {
    width: 306px;
    height: 48px;
    margin-top: 0px;
    font-size: 20px;
  }

  @media screen and (min-width: $desktop) {
    width: 384px;
    height: 48px;
  }

  &:hover,
  &:focus {
    scale: 1.02;
  }
}
