@import "../../variables";

.layoutContainer {
    display: none;

    @media screen and (min-width: $laptop) {
        margin-top: 100px;
        display: block;
        width: 100%;
        max-width: 1440px;
    }
}