@import "../../app/variables";

.form {
    width: 320px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    background-color: $gray400;
    gap: 20px;
}

.form input {
    padding: 20px;
    background-color: $gray50;
    color: $gray900;
    border: none;
    border-radius: 5px;
}

.form button {
    padding: 10px;
    cursor: pointer;
    background-color: $gray500;
    color: $gray0;
    font-weight: bold;
    border: none;
    border-radius: 5px;

    &:hover,
    &:focus {
        background-color: $primary800;
    }
}

.errMessage {
    font-weight: 700;
    font-size: 20px;
    color: $alertError;
}

.link {
    text-decoration: underline;
    color: $linkColor;
    font-style: italic;
}