.CategorySwiper {
    width: 100%;
    height: 300px;

    @media screen and (min-width: 768px) {
        height: 336px;
    }

    @media screen and (min-width: 1024px) {
        height: 323px;
    }

    @media screen and (min-width: 1440px) {
        height: 404px;
    }
}

.CategorySwiper .swiper-wrapper {
    height: 280px;

    @media screen and (min-width: 768px) {
        height: 320px;
    }

    @media screen and (min-width: 1024px) {
        height: 307px;
    }

    @media screen and (min-width: 1440px) {
        height: 384px;
    }
}

.CategorySwiper .swiper-slide {
    display: flex;
    justify-content: center;
}

.CategorySwiper .slideContentWrapper {
    width: 100%;

    /* background-color: #0d0d11; */
    /* box-shadow: 6px 12px 32px 0px #1a8cff1a; */

    /* @media screen and (min-width: 360px) {
        padding: 32px 16px;
    }

    @media screen and (min-width: 768px) {
        padding: 24px;
    }

    @media screen and (min-width: 1024px) {
        padding: 16px 12px;
    }

    @media screen and (min-width: 1440px) {
        padding: 32px 16px;
    } */
}

.CategorySwiper .swiper-pagination {
    bottom: -4px;
}

.CategorySwiper .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: rgb(160, 159, 159);
}

.CategorySwiper .swiper-pagination-bullet-active {
    background: rgba(59, 48, 48, 1);
}

.imgBox {
    position: relative;
    width: 280px;
    height: 280px;
    margin-bottom: 12px;
    @media screen and (min-width: 768px) {
        width: 320px;
        height: 320px;
    }
    @media screen and (min-width: 1024px) {
        width: 307px;
        height: 307px;
    }
    @media screen and (min-width: 1440px) {
        width: 384px;
        height: 384px;
    }
}

.img {
    object-fit: cover;
}