$mobile: "360px";
$tablet: "768px";
$laptop: "1024px";
$desktop: "1440px";

$backgroundColor: #000000;

$gradientYellow: #faff00;
$gradientCyan: #00f0ff;
$gradientBlue: #0400b3;

$gradient: linear-gradient(
    90deg,
    $gradientYellow,
    $gradientCyan,
    $gradientBlue
);

$gray900-90: #0d0d1190;
$gray900: #0d0d11;
$gray800: #2e2e31;
$gray700: #4b4b4e;
$gray600: #5e5e61;
$gray500: #858588;
$gray400: #a6a6aa;
$gray300: #cbcbcf;
$gray200: #dfdfe3;
$gray100: #ececf0;
$gray50: #f6f6fa;
$gray0: #ffffff;

$lightBlue: #1a8cff;

$errorColor: #d50000;
$successColor: #05ff00;
$warningColor: #ffc700;

// $shadowColor: 6px 12px 32px 0px #1a8cff1a;
// $formShadow: 6px 12px 32px 0px #1a8cff80;

$transitionDuration: 250ms;
