$mobile: "360px";
$tablet: "768px";
$laptop: "1024px";
$desktop: "1440px";

$gray900: #131313;
$gray800: #333333;
$gray700: #515151;
$gray600: #5E5E61;
$gray500: #646464;
$gray400: #ACACAC;
$gray300: #D1D1D1;
$gray200: #E3E3E3;
$gray100: #EEEEEE;
$gray50: #F7F7F7;
$gray0: #FFFFFF;

$primary900: #3B3030;
$primary800: #4B3D3C;
$primary700: #5B4947;
$primary600: #6C5552;
$primary500: #785E5B;
$primary400: #8A7774;
$primary300: #9C918F;
$primary200: #B3B2B1;
$primary100: #D1D1D1;
$primary50: #EDEDED;

$secondary300: #A78C8F;
$secondary200: #BFADB0;
$secondary100: #D9CECF;
$secondary50: #EFECEC;

$alertError: #8A0000;
$alertWarning: #FFC83A;
$alertSuccess: #005C25;

$linkColor: #0000ff;

$boxShadow: -8px -8px 24px rgba(120, 94, 91, 0.2);


// $transitionDuration: 250ms;