$mobile: "360px";
$tablet: "768px";
$laptop: "1024px";
$desktop: "1440px";

$Gray0: rgba(255, 255, 255, 1);
$Gray900: rgba(19, 19, 19, 1);

// $transitionDuration: 250ms;


$gray900: #0d0d11;
$gray800: #2e2e31;
$gray700: #4b4b4e;
$gray600: #5e5e61;
$gray500: #858588;
$gray400: #a6a6aa;
$gray300: #cbcbcf;
$gray200: #dfdfe3;
$gray100: #ececf0;
$gray50: #f6f6fa;
$gray0: #ffffff;
$lightBlue: #1a8cff;