@import "./_variables";

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    // -webkit-transition-duration: 250ms;
    // -o-transition-duration: 250ms;
    // transition-duration: 250ms;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    color: $gray0;
    background-color: $backgroundColor;
    font-family: var(--font-saira);
}

header,
footer {
    width: inherit;
    max-width: inherit;
}

body,
main,
.screen,
section,
article {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

// scrollbar

*::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 0%);
    box-shadow: inset 0 0 6px rgb(0 0 0 / 0%);
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgb(0 0 0 / 0%);
    box-shadow: inset 0 0 0px rgb(0 0 0 / 0%);
    -webkit-border-radius: 0px;
    background: #1e1e1e;
    border-radius: 0px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(
        to top,
        $gradientYellow,
        $gradientCyan,
        $gradientBlue
    );
    height: 2.5px;
}

// scrollbar end

main {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.screen {
    height: 100%;
}

article,
section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul,
ol {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    cursor: pointer;
}

/* it is temporarily dimensions */
.container {
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.titleGradient {
    background-image: linear-gradient(
        to right,
        $gradientYellow,
        $gradientCyan,
        $gradientBlue
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.navLinkHover {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        width: 0%;
        height: 2px;
        background-image: $gradient;
        bottom: 0;
        left: 0;
    }
    &:hover,
    &:focus {
        &::after {
            animation: animate 0.5s linear forwards;
        }
    }
}
@keyframes animate {
    to {
        width: 100%;
    }
}

.active {
    &::after {
        width: 100%;
    }
}
