@import "./_variables";

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  padding: 0;
  margin: 0;

  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  -ms-transition-duration: 250ms;
  transition-duration: 250ms;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  color: $gray900;
  font-family: var(--font-manrope);
  font-style: normal;
  background-color: $secondary50;
}

.bluredBody {
  filter: blur(2px) brightness(0.8) hue-rotate(15deg);
}

header,
footer {
  width: inherit;
  max-width: inherit;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: $tablet) {
    padding-left: 56px;
    padding-right: 56px;
  }

  @media screen and (min-width: $laptop) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: $desktop) {
    padding-left: 120px;
    padding-right: 120px;
  }
}

body,
main,
.screen,
section,
article {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

// scrollbar

*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 0%);
  box-shadow: inset 0 0 6px rgb(0 0 0 / 0%);
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgb(0 0 0 / 0%);
  box-shadow: inset 0 0 0px rgb(0 0 0 / 0%);
  -webkit-border-radius: 0px;
  background: #1e1e1e;
  border-radius: 0px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 2.5px;
}

// scrollbar end

main {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.screen {
  height: 100%;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;

  // height: 50vh;
  @media screen and (min-width: $tablet) {
    padding-left: 56px;
    padding-right: 56px;
  }
}
.container {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

ul,
ol {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.active {
  &::after {
    width: 100%;
  }
}

.hoverLink {
  &:focus,
  &:hover {
    background-image: linear-gradient(135deg, #5b4947, #c19b97);
    background-size: 200%;
    background-position: left;
    color: $gray0;
  }

  &:target,
  &:active {
    background-position: right;
  }
}

.activeLink {
  background-image: linear-gradient(135deg, #5b4947, #c19b97);
  background-size: 200%;
  background-position: left;
  color: $gray0;

  &:target,
  &:active {
    background-position: right;
  }
}

.sectionTitle {
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 28px;
  color: rgba(59, 48, 48, 1);
  position: relative;

  @media screen and (min-width: $tablet) {
    font-size: 48px;
  }

  @media screen and (min-width: $laptop) {
    font-size: 62px;
  }

  & span {
    background: $secondary50;
    padding: 0 12px;
  }

  &::before {
    content: "";
    height: 1px;
    width: 100%;
    background-color: rgba(59, 48, 48, 1);
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -1;
  }
}
