@import "../../app/variables";

.section {
  height: 100vh;

  padding-top: 70px;
  @media screen and (min-width: $tablet) {
    padding-top: 100px;
  }
  @media screen and (min-width: $laptop) {
    padding-top: 80px;
  }
}

.container {
  flex-direction: column;
  justify-content: space-between;

  background-image: url("/images/HeroBg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 4% 0%;
  padding-top: 20px;
  padding-bottom: 118px;
  @media screen and (min-width: $tablet) {
    padding-top: 40px;
    padding-bottom: 224px;
    background-position: center;
  }
  @media screen and (min-width: $laptop) {
    padding-top: 32px;
    padding-bottom: 136px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 72px;
    padding-bottom: 132px;
  }

  @media screen and (max-height: $tablet) and (orientation: landscape) {
    padding-top: 32px;
    padding-bottom: 12vh;
  }
}

.heroTitle {
  padding: 4px 8px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-box-backdrop-filter: blur(10px);
  -o-transition-backdrop-filter: blur(10px);
  -ms-backdrop-filter: blur(10px);
  width: 100%;
  font-size: 32px;
  color: $gray0;
  font-weight: 300;
  @media screen and (min-width: $tablet) {
    width: 614px;
    font-size: 60px;
  }
  @media screen and (min-width: $laptop) {
    width: 780px;
    font-size: 76px;
  }
}

.btn {
  margin-left: auto;
  margin-right: auto;
}
