@import "../../app/variables";

.section {
    padding-left: 0;
    padding-right: 0;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $secondary100;
    padding: 16px;

    @media screen and (min-width: $tablet) {
        padding: 20px;
    }

    @media screen and (min-width: $laptop) {
        padding: 40px;
    }
}

.title {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 16px 0 50px;

    font-weight: 400;
    font-size: 28px;
    color: rgba(59, 48, 48, 1);

    @media screen and (min-width: $tablet) {
        font-size: 48px;
    }

    @media screen and (min-width: $laptop) {
        font-size: 62px;
    }
}

.title span {
    background: $secondary100;
    padding: 0 10px;
}