@import "../../app/variables";

.container {
    flex: 1;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;

    row-gap: 20px;
    background-color: $gray300;
    padding: 30px 0 30px;
}

.formTitle {
    max-width: 400px;
    color: $gray500;
    font-size: 24px;
    letter-spacing: 1.2px;
    text-align: center;
}

.inputGroup {
    position: relative;
    width: 90%;
    min-width: 200px;
}

.formInput {
    width: 100%;
    outline: none;
    border-radius: 10px;
    border: 1px solid $primary300;
    background-color: $gray50;
    padding: 12px 20px;

    &:focus+.formLabel,
    &:not(:placeholder-shown)+.formLabel {
        transform: translateY(-150%) scale(0.9);
        transition-duration: 250ms;
        padding-inline: 4px;
        color: $primary700;

        // background: linear-gradient(to top, #f2f0e9 50%, #e7e5e0 50%);
    }
}

.formLabel {
    position: absolute;
    top: 10px;
    left: 16px;
    color: $primary700;
    pointer-events: none;
    transition-duration: 250ms;
}

.error {
    position: absolute;
    top: -17px;
    right: 10px;
    color: $alertError;
    font-size: 14px;
}

.textarea {
    height: 120px;
    resize: none;
}

.uploadBtn {
    width: 100%;
    outline: none;
    border-radius: 30px;
    border: 1px solid $primary300;
    background-color: $gray500;
    color: $gray0;
    padding: 12px 20px;

    &:hover,
    &:focus {
        background-color: $primary700;
    }
}

.formButton {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 12px 62px;
    background-color: $primary800;
    border-radius: 20px;
    color: $gray0;
    transition-duration: 250ms;

    &:hover,
    &:focus {
        background-color: $gray900;
        transition-duration: 250ms;
    }
}