@import "../../app/variables";

.footer {
  background-color: $primary900;
  padding-top: 16px;
  color: $gray0;
}

.container {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;

  & .logo {
    font-size: 24px;

    @media screen and (min-width: $tablet) and (max-width: 1023px) {
      font-size: 20px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 32px;
    }
  }

  & .footerNavLinks {
    display: none;

    @media screen and (min-width: $tablet) {
      display: flex;
      font-size: 16px;
      gap: 4px;
      & a {
        padding: 2px 8px;
      }
    }

    @media screen and (min-width: $tablet) {
      font-size: 20px;
    }
  }
}

.contactsWrapp {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    gap: initial;
  }
}

.contact {
  display: flex;
  gap: 12px;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 16px;

  & svg {
    width: 24px;
    height: 24px;
    fill: $gray0;
  }

  @media screen and (min-width: $laptop) {
    font-size: 20px;
  }
}

.madeBy {
  text-align: center;
  width: 100vw;
  padding: 16px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  @media screen and (min-width: $desktop) {
    font-size: 16px;
  }
}
