@import "../../app/variables";

.container {
    display: none;

    @media screen and (min-width: $tablet) {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 50px;
        background-color: $gray300;
    }
}

.pageLink {
    font-weight: 700;
    font-size: 20px;

    &:hover,
    &:focus {
        color: $alertError;
    }
}