@import "../../app/variables";

.logoutBtn {
    @media screen and (min-width: $tablet) {
        display: block;
        background-color: transparent;
        border: transparent;
        cursor: pointer;
    }
}

.exitIcon {
    width: 28px;
    height: 28px;
    stroke: $exitIconStrokeColor;
    fill: $exitIconFillColor;
    transition-duration: 250ms;
}

.exitIcon:hover {
    stroke: $exitIconHoverStrokeColor;
    fill: $exitIconHoverFillColor;
}