@import "../../app/variables";

.container {
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
    padding: 20px 32px;
    background-color: $gray0;
}

.cardsList {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
}